$cor-1: #fff; // Branco
$cor-2: #000; // Preto
$cor-3: #888; // Cinza
$cor-4: #fab427; // Amarelo 
$cor-5: #e0a225; // Marrom 
$cor-6: #cfcfcf; // Cinza claro 
$cor-7: #999; // Cinza médio
$cor-8: rgba(255, 255, 255, 0.888); 
$cor-9: rgba(255, 255, 255, 0.3); // Branco com transparência
$cor-10: rgb(250, 250, 250); // Branco
$cor-11: rgba(255, 255, 255, 0.96); // Branco com transparência
$cor-12: #ccc; // Cinza claro
$cor-13: rgba(0, 0, 0, 0.02); // Preto com transparência
$cor-14: #555; // Cinza escuro
$cor-15: #eee; // Cinza claro
$cor-16: #333; // Preto
$cor-17: rgba(0, 0, 0, 0.06); // Preto com transparência
$cor-18: rgba(0, 0, 0, 0.084); // Preto com transparência
$cor-19: rgba(255, 255, 255, 0.5); // Branco com transparência
$cor-20: rgba(153, 153, 153, 0.342); // Cinza com transparência
$cor-21: #ddd; // Cinza claro
$cor-22: #48d05f; // Verde 
$cor-23: #35af4a; // Verde escuro 
$cor-24: #ff0000; // Vermelho
$cor-25: #b30000; // Vermelho escuro